<div class="row d-flex">
    <div class="col-md-12 mb-4">
        <div class="panel h-100 d-flex flex-column py-3 text-danger">
            <strong>Ihre Schule hat das Audit nicht abgeschlossen!</strong><br/>
            Bis auf weiteres sind alle Schulbezogenen Funktionen deaktiviert! Setzen Sie sich mit Ihrer Schule in Verbindung.
        </div>
    </div>
</div>