<div class="col-md-6 mb-4">
    <div class="panel h-100 d-flex flex-column py-3">
        <div class="pt-2">
            <h2>Alltagskompetenzen</h2>
            <div class="pt-3 ">
                Angebote zu den Alltagskompetenzen<br/>
                Die Angebote der Ämter für Ernährung, Landwirtschaft und Forsten unterstützen mit Angeboten zu den „Alltagskompetenzen – Schule fürs Leben“.<br/><br/>
                <a class="btn btn-secondary mb-2" target="_blank" href="https://www.stmelf.bayern.de/schule ">
                    <i class="fas fa-link"></i> stmelf.bayern.de
                </a>
            </div>
        </div>
    </div>
</div>