<div class="col-md-6 mb-4">
    <div class="panel h-100 d-flex flex-column py-3">
        <div class="pt-2">
            <h2>Individuelle Unterst端tzungsangebote</h2>
            <div class="pt-3 ">
                Sie w端nschen sich individuelle Unterst端tzung f端r Ihre Schulverpflegung?<br/>
                Unser Coaching Schulverpflegung begleitet Sie ein Schuljahr!<br/><br/>
                <a class="btn btn-secondary mb-2" target="_blank" href="https://kita-schulverpflegung.bayern.de/schulcoaching">
                    <i class="fas fa-link"></i> kita-schulverpflegung.bayern.de
                </a>
            </div>
        </div>
    </div>
</div>