{% import 'macros/ui.twig' as ui %}

<div class="col-md-12 mb-4">
    <div class="panel h-100 d-flex flex-column py-3">
        <div class="pt-2">
            <h2>Wir unterstützen Sie!</h2>
            <div class="pt-3 ">
                Die Vernetzungsstelle Schulverpflegung Hessen unterstützt Schulgemeinden dabei die Verpflegungsqualität
                Schritt für Schritt zu optimieren. Im Hinblick auf die Akzeptanz ist es von besonderer Bedeutung die
                Schulgemeinde aktiv in die Gestaltung einzubeziehen und Ernährungsbildung ganzheitlich zu verankern.<br><br>

                {{ ui.a('https://schulverpflegung.hessen.de/', 'Vernetzungsstelle Schulverpflegung') }}

                {{ ui.a('https://schulverpflegung.hessen.de/qualifizieren-und-fortbilden/qualifizierungsangebot-fuer-verpflegungsbeauftragte', 'Quali-Angebot Verpflegungsbeauftragte') }}

                {{ ui.a('https://schulverpflegung.hessen.de/verankern-und-entwickeln/praxisleitfaden-und-arbeitshilfen', 'Praxisleitfaden & Arbeitshilfen') }}

            </div>
        </div>
    </div>
</div>