<div class="col-md-6 mb-4">
    <div class="panel h-100 d-flex flex-column">
        <h2><i class="fas fa-clipboard-check mr-2 text-primary2 mr-1"></i>Qualitäts-Check</h2>
        <div>Überprüfen Sie die Qualität Ihrer Schulverpflegung.</div>
        <div class="mt-auto">
            {% if hasMasterData %}
                <a class="btn btn-secondary mt-3"
                   href="{{ path('quality_check_home') }}"><i class="fas fa-link mr-1"></i>Öffnen
                </a>
            {% else %}
                <div class="d-flex mt-3">
                    <button disabled="disabled"
                            class="btn btn-outline-dark align-self-center text-nowrap"
                            href="{{ path('quality_check_home') }}"><i
                                class="fas fa-lock mr-1"></i>Öffnen
                    </button>
                    <div class="text-muted align-self-center ml-2">Die Stammdaten sind
                        unvollständig.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
