{% import 'macros/ui.twig' as ui %}

<div class="row d-flex">
    <div class="col-md-12 mb-4">
        <div class="panel h-100 d-flex flex-column py-3">
            <h2>Ernährungsbildung und Schulverpflegung verknüpfen!</h2>
            So sensibilisieren Sie Schülerinnen und Schüler für Ernährungsthemen und ermöglichen ihre kreative Mitgestaltung der Schulverpflegung:
            <div class="mt-2">

                {{ ui.ae('https://www.vernetzungsstelle-sachsen.de/visionmensa/','VISION MENSA©') }}

                {{ ui.ae('https://www.vernetzungsstelle-sachsen.de/lernausstellung/','THINK FOOD-THINK FUTURE©') }}

                {{ ui.ae('https://hwmedia.sharepoint.com/:b:/r/sites/UnserSchulessenNEU/Freigegebene%20Dokumente/Schulessen%20Anpassungen/250627_Ernaehrungsbildung%20auf%20dem%20Schulhof_VNS-Sachsen.pdf?csf=1&web=1&e=l1VMTr','Essbarer Schulhof') }}

            </div>
        </div>
    </div>
</div>