<div class="col-md-6 mb-4">
    <div class="panel h-100 d-flex flex-column">
        <h2><i class="fas fa-chart-bar mr-2 text-primary2 mr-1"></i>Zufriedenheitsumfragen</h2>
        <div>Erstellen Sie Befragungen und messen Sie damit die Zufriedenheit von Schülern,
            Lehrkräften und Eltern.
        </div>
        <div class="mt-auto"><a class="btn btn-secondary mt-3" href="{{ path('survey_home') }}"><i
                        class="fas fa-link mr-1"></i>Öffnen</a>
        </div>
    </div>
</div>