<b-modal id="modal-sustainable" title="Fokus Nachhaltigkeit" size="xl" ok-only>
    <p>Der Qualitäts-Check ermöglicht bei der Ist-Stand-Analyse die Nachhaltigkeit der Verpflegungsqualität
        besonders in den
        Blick zu nehmen.</p>
    <p>Der Nachhaltigkeits-Check kann als hilfreiche Zusatzauswertung einfach abgerufen werden. Er wird bei der
        Durchführung
        eines ausführlichen Qualitäts-Checks ohne zusätzlichen Aufwand direkt mit erstellt. Wie die
        Auswertungsmöglichkeiten
        zur Nachhaltigkeit optimal genutzt werden, ist im Folgenden erläutert.</p>

    <h5>Wie erkenne ich Nachhaltigkeitskriterien?</h5>
    <p>In allen neun Qualitätsfeldern sind Qualitätskriterien die einen direkten Nachhaltigkeitsbezug aufweisen mit
        dem
        <strong>Blatt-Symbol</strong> <i class="fas fa-leaf text-primary2 ml-1 mr-1"></i> gekennzeichnet. Diese
        Kennzeichnung der
        Qualitätskriterien findet sich auch im Qualitätsprozess sowie in der Zufriedenheitsumfrage wieder. Aspekte
        der
        Nachhaltigkeit sind im gesamten QM-Tool so schnell erkennbar.</p>
    <p>Genauere Hintergründe zum Thema Schulverpflegung und Nachhaltigkeit und weiterführende Informationen zur
        Erarbeitung
        der Nachhaltigkeitskriterien finden Sie auf unserer öffentlichen Website unter: <a
                href="https://www.unser-schulessen.de/Qualitaet/Hintergruende/52_Nachhaltigkeit.htm">https://www.unser-schulessen.de/Qualitaet/Hintergruende/52_Nachhaltigkeit.htm</a>
    </p>

    <h5>Wie führe ich einen Nachhaltigkeits-Check durch? </h5>
    <p><u>Variante 1: Nachhaltigkeits-Check als Zusatzauswertung</u></p>
    <p>Starten Sie einen neuen Qualitäts-Check und führen diesen orientiert an Ihren aktuellen Prioritäten durch.
        Sichern
        Sie nach Abschluss ihre finalen Ergebnisse. (Unterstützung hierfür finden Sie unter „Hilfe“). </p>
    <p>Nun können Sie ihre Ergebnisse des Qualitäts-Checks in der <strong>Gesamtübersicht</strong> abrufen. Wollen
        Sie sich
        ansehen wie ihre Schulverpflegung bei den Nachhaltigkeitskriterien abschneidet, wählen Sie den <strong>grünen
            Button
            „Nachhaltigkeit“</strong> aus. Dann wechselt die Grafik zur Ansicht, die ausschließlich die Ergebnisse
        für die
        Nachhaltigkeitskriterien darstellt. Es werden nur die Ergebnisse der Qualitätskriterien mit
        Nachhaltigkeitsbezug
        aus ihrem Gesamt-Qualitäts-Check herausgefiltert und abgebildet. Mit Auswahl des <strong>Buttons „Ergebnisse
            ansehen“</strong>
        auf der Grafik können Sie sich diese Ergebnisse auch im Detail ansehen. Um aus der Ansicht „Auszug
        Nachhaltigkeit“
        des Nachhaltigkeits-Checks zurück zur Gesamtübersicht des Qualitäts-Checks zu gelangen, nutzen Sie den
        <strong>gelben Button „Allgemein“</strong>.</p>

    <p><u>Variante 2: Nachhaltigkeits-Check im Fokus - für Fortgeschrittene</u></p>
    <p>Sie wollen sich die Qualität ihrer Schulverpflegung ausschließlich unter dem Fokus der Nachhaltigkeit
        anschauen?
        Dann starten Sie wie gewohnt einen <strong>neuen Qualitäts-Check</strong>. Beantworten Sie in jedem
        Qualitätsfeld <u>ausschließlich
            die mit den Blatt-Symbol gekennzeichneten Nachhaltigkeitskriterien</u>. Finalisieren Sie diesen
        Nachhaltigkeits-Check, um
        ihn zu speichern. </p>
    <p>In der Grafik der Gesamtübersicht und in der Auswertung hinter dem grünen Button „Nachhaltigkeit“ werden nun
        die gleichen
        Ergebnisse angezeigt. Diese stellen ausschließlich die Qualitäts-Kriterien mit Nachhaltigkeitsbezug dar. Die
        Ergebnisse
        können Sie wie gewohnt <strong>unter „Ergebnisse ansehen“</strong> detailliert einsehen.</p>

    <h5>Kann ich die Ergebnisse des Nachhaltigkeits-Checks drucken?</h5>
    <p>Ja! - Dazu wählen Sie in der Liste der Qualitäts-Checks bei ihrem aktuellen Qualitäts-Check den <strong>grünen
            Button „PDF-Download“</strong>.
        Somit exportieren sie die ausführliche Auswertung des Qualitäts-Check inklusive des Nachhaltigkeitsauszuges.
        Dieses Dokument können Sie
        dann speichern bzw. drucken.</p>
</b-modal>