<b-modal id="modal-help" title="Hilfe Qualitäts-Check" size="xl" ok-only>
    <h5>Kurzhinweise zur Arbeit mit dem Qualitäts-Check</h5>
    <ul>
        <li>Führen Sie den Qualitäts-Check gemeinsam im Gremium durch – am besten zu Beginn einer
            Sitzungsperiode/eines Treffens.
        </li>
        <li>Überlegen Sie sich vorher, ob Sie einzelne Qualitätsfelder checken möchten oder den kompletten Check
            durchführen wollen.
        </li>
        <li>Wenn Sie im Gremium schon konkrete Problemlagen benannt haben, an denen Sie arbeiten möchten, kann ein
            Check des entsprechenden Qualitätsfeldes ein guter Start sein.
        </li>
        <li>Für ein systematisches Abarbeiten des Checks beginnen Sie mit Qualitätsfeld 1 und 2 – die direkt auf das
            Essen und die Speisenplanung fokussieren.
        </li>
        <li>Wenn Sie zu einzelnen Qualitätsmerkmalen die Einschätzung der Schulgemeinschaft benötigen, nutzen Sie
            die Zufriedenheitsumfragen zum Erstellen einer Umfrage zum Thema
        </li>
        <li>Wenn Sie bestimmte Qualitätsmerkmale nicht einschätzen können, lassen Sie sie unbewertet. Über die
            Funktion „Drucken“ können Sie die Kriterien ausdrucken und zunächst analog Informationen einholen.
        </li>
        <li>
            Über die Funktion „Drucken“ können Sie die Kriterien ausdrucken und zunächst analog Informationen
            einholen.
        </li>
        <li>Wir empfehlen das Finalisieren des Qualitäts-Checks - Button Finalisieren am Ende des 9.
            Qualitätsfeldes) nach gemeinsamem Beschluss im Gremium. Es ist jedoch nicht zwingend erforderlich alle
            Qualitätsfelder und –kriterien zu bewerten.
        </li>
        <li>Die Ergebnisse des Checks werden für die Erarbeitung von Verbesserungsmaßnahmen im Modul
            Qualitätsprozess angezeigt.
        </li>
        <li>Tipp: Kommunizieren Sie die Ergebnisse des Checks in der Schulgemeinschaft. Nutzen Sie dafür z.B. die
            PDF-Ansicht des finalisierten Qualitäts-Checks oder die „Drucken“ – Option in der detaillierten
            Ergebnis-Ansicht.
        </li>
        <li>Führen Sie turnusmäßig weitere Qualitäts-Checks durch, z.B. wenn einzelne Qualitätsmerkmale verbessert
            wurden.
        </li>
    </ul>
    <h5>Wie führe ich einen neuen Qualitäts-Check durch?</h5>

    <p>Der Qualitäts-Check ist die gemeinsame Arbeitsgrundlage des Mensa-Gremiums. Er gibt die Einschätzung, in
        welchen Qualitätsbereichen Verbesserungsbedarf besteht.</p>
    <p>Der Check sollte nicht von einer Person allein durchgeführt werden. Wir empfehlen, den Qualitäts-Check im
        Ganzen oder in Teilbereichen im Rahmen einer gemeinsamen Sitzung des Mensa-Gremiums zu bearbeiten.</p>
    <p>Um einen Überblick zu den neun Qualitätsfeldern des Checks und den hinterlegten Qualitätskriterien zu
        bekommen, kann auf der Überblicksseite zum Qualitäts-Check ein Blanko-Fragebogen (<strong>Button Blanko QC
            drucken</strong>)
        eingesehen werden.</p>
    <p>Mit dem <strong>Button „Starten“</strong> öffnet sich der Fragebogen zum Qualitäts-Check mit dem ersten
        Qualitätsfeld. Die
        einzelnen Qualitätsmerkmale für den jeweiligen Bereich sind als Aussagen formuliert. Mit der Auswahl der
        Antwort: <strong>„Trifft zu“</strong>, <strong>„Trifft teilweise zu“</strong>, <strong>„trifft nicht
            zu“</strong>, <strong>„Nicht beantwortet“</strong> nehmen Sie die Bewertung
        vor. In der Auswertung signalisieren die Ampelfarben das Erreichen der Qualitätsmerkmale. Mit dem
        „Blatt-Symbol“ sind Kriterien, die Nachhaltigkeitsaspekte beinhalten, gekennzeichnet.</p>
    <p>Mit dem <strong>Button „Überspringen“</strong> lassen sich einzelne Qualitätsfelder überspringen.
        <u>
            <strong>
                Damit werden alle Antworten im Fragebogen für dieses Qualitätsfeld automatisch
                auf „nicht beantwortet“ gesetzt!
            </strong>
        </u>
        Vorher schon einmal gemachte Bewertungen werden zurückgesetzt. Wenn Sie diese Option erstmals in Ihrer
        Arbeitssitzung anwählen,
        erscheint ein <strong>Pop-Up-Fenster</strong>, das darauf noch einmal hinweist. Klicken Sie hier auf das
        Dialogfeld <strong>„nicht mehr anzeigen“</strong>, dann wird für diese Arbeitssitzung das Überspringen
        einzelner Qualitätsfelder ohne Warnhinweis möglich.</p>
    <u>
        <strong class="text-red">
            Alternativ können die einzelnen Qualitätsfelder über die Schrittleiste angewählt werden. Die
            Qualitätsfelder, die schon bearbeitet wurden, sind mit einem grünen Häkchen versehen.
        </strong>
    </u>
    <p>
        Am Ende des jeweiligen Fragekataloges der einzelnen Qualitätsfelder kann mit dem <strong>Button
            „Weiter“</strong> das nächste Qualitätsfeld geöffnet und bearbeitet werden. Der <strong>Button
            „Zurück“</strong> öffnet das vorhergehende Feld.</p>

    <p>
        Am Ende des jeweiligen Fragekataloges der einzelnen Qualitätsfelder kann mit dem Button
        <strong>„Weiter“</strong> das nächste
        Qualitätsfeld geöffnet und bearbeitet werden. Der Button <strong>„Zurück“</strong> öffnet das vorhergehende
        Feld. Möchte die Gruppe an dem Qualitäts-Check zu einem späteren Zeitpunkt weiterarbeiten, sollte
        <strong>„Speichern und schließen“</strong> gewählt werden.
    </p>

    <p>Der Qualitäts-Check ist dann noch nicht finalisiert und kann beim nächsten Mal weiterbearbeitet werden. </p>

    <h5>Finalisieren eines Qualitäts-Checks (bitte in Grün!) </h5>
    <p>
        Wenn die Option <strong>„Speichern und Schließen“</strong> gewählt wird, erscheint ein Dialogfeld. Hier kann
        entschieden
        werden, ob der Qualitäts-Check als „Zwischenstand“ gespeichert und zu einem späteren Zeitpunkt
        weiterbearbeitet wird oder ob der Qualitäts-Check endgültig abgeschlossen/finalisiert wird.
    </p>
    <p>
        <strong>Wichtig:</strong> Erst wenn der Qualitäts-Check durch den <strong>gelben Button
            „Finalisieren“</strong> als endgültig
        bearbeitet abgespeichert ist, erscheint das Ergebnis in der Übersicht und wird als Grundlage für die
        Aufstellung einer To-Do-Liste und von Aktionsplänen im Qualitätsprozess hinterlegt.
    </p>
    <p>
        Das Ergebnis des letzten finalisierten Qualitäts-Checks kann auf der Überblicksseite im Modul
        Qualitäts-Check in der Barometer-Ansicht abgelesen werden. Mit dem Wechsel zur Ansicht Nachhaltigkeit, kann
        der Ergebnisstand für die bearbeiteten Qualitätskriterien mit Nachhaltigkeitsaspekten eingesehen werden.
    </p>
</b-modal>