body {
  background-color: #f2efeb;
  padding-top: 3.5rem;
}

#app {
  min-width: 768px;
}

#app.clear {
  min-width: auto;
}

:focus {
  outline: none;
}

table td.actions .btn {
  margin: 0.2rem auto;
}

.menu-width {
  z-index: 1000;
  width: 200px;
  transition: 500ms width;
}

nav.left {
  overflow-x: hidden;
}

nav.left:hover {
  ul.nav span.label {
    display: initial;
  }
}

.menu-span {
  margin-left: 200px;
  transition: 500ms width;
}

@media screen and (max-width: 900px) {
  nav.left:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 200px;
  }
  ul.nav span.label {
    display: none;
  }
  .menu-width {
    width: 56px;
  }
  .menu-span {
    margin-left: 56px;
  }
  .brand {
    display: none;
  }
}

.options-100 {
  width: 100px;
}

.options {
  width: 1%;
  white-space: nowrap;
}

header {
  height: 3.5rem;

  .brand {
    font-size: 1rem;
  }

  .navbar {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
  }
}

div.panel {
  background-color: $panel-bg;
  padding: $panel-padding;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: $panel-headings-color;
  }
}

ul.nav {
  margin-top: 12px;

  a {
    color: $gray-800; // Dunkle Schrift für nicht-aktive Menüpunkte

    i {
      color: $primary; // Primary Farbe für nicht-aktive Icons
      min-width: 16px;
      text-align: center;
    }
  }
}

ul.nav li a.nav-link {
  padding: 1rem;
}

ul.nav li {
  border-left: 0.2rem solid transparent;
  white-space: nowrap;
}

ul.nav li a {
  white-space: nowrap;
}

ul.nav li.active, ul.nav li:hover {
  border-left-color: transparent; // Kein linker Strich
  background-color: $primary;
  
  a {
    color: $white; // Weiße Schrift für aktive Menüpunkte
    
    i {
      color: $white; // Weiß für aktive Icons
    }
  }
}

body.clear-layout {
  background-color: #f2efeb;

  .login-box {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border: 1px solid $gray-300;
    min-height: 520px;
  }

  .login-teaser {
    background: url("../img/Essensausgabe.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .login-form {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
  }

  img.vsvb {
    max-width: 150px;
    max-height: 80px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  img.BMELV {
    max-height: 100px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

// Styles for collapse Component: arrow up and down
.result .fas.collapse_arrow {
  float: right;
}

.result .fas.collapse_arrow:before {
  content: "\F077";
}

.result .collapsed .fas.collapse_arrow:before {
  content: "\F078";
}

.result .true, .result .partial, .result .false, .result .not_answered, .result .sustainable {
  display: inline-block;
  margin-right: 60px;
  position: relative;
}



.step_bar {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 0 0px;
}

.step_bar .step {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.step_bar .step .step-icon {
  height: 30px;
  width: 30px;
  border: 1px solid $secondary;
  border-radius: 50%;
  background: #fff;
  font-size: 10px;
  text-align: center;
  color: $secondary;
  position: relative;
  line-height: 30px;
  font-size: 14px;
}

.step_bar .step:hover .step-icon {
  text-decoration: none;
  background: $secondary;
  color: #fff;
}

.step_bar .step.active .step-icon {
  background: $secondary;
  color: #fff;
}

.step_bar .step.invalid .step-icon {
  background: $danger;
}

.step_bar .step p {
  white-space: nowrap;
  text-align: center;
  position: absolute;
  bottom: -40px;
  color: #c2c2c2;
  font-size: 12px;
}

.step_bar .step.active p {
  color: $secondary;
}

.step_bar .step.step2 p,
.step_bar .step.step3 p {
  left: 50%;
  transform: translateX(-50%);
}

.step_bar .indicator-line {
  width: 100%;
  height: 1px;
  background: #c2c2c2;
  flex: 1;
  margin: 0 4px;
}

.step_bar .indicator-line.active {
  background: $secondary;
}

.step_bar .step .answered {
  color: $primary;
}

@media screen and (max-width: 500px) {
  .step_bar .step p {
    font-size: 11px;
    bottom: -20px;
  }
}

.gauge canvas {
  width: 100% !important;
  height: auto !important;
}

@media print {

  @page {
    size: A4;
    margin: 1cm 0cm 1cm 0cm;
  }

  body {
    background-color: #fff;
    //margin: 0 0 200px 0;
  }

  html, body {
    width: 210mm;
    height: 297mm;
  }

  main {
    display: block;
    width: 100% !important;
    position: absolute;
    left: 0;
    padding-left: 48px !important;
    margin-bottom: 50px;
    //margin-top: 200px;

  }

  .left, .left * {
    display: none !important;
    background-color: transparent;
  }

  .no-print, .no-print * {
    display: none !important;
  }

  .collapse:not(.show) {
    display: block !important;
  }

  .example-wrapper {
    margin-bottom: 2cm;
  }
  .sf-toolbar {
    display: none !important;
  }

  .copyright {
    display: block;
    position: fixed;
    bottom: 0;
    left: 36%;
  }

  .printOnly {
    display: inline !important;
  }

  body.modal-open #app {
    display: none;
  }

  body.modal-open .modal-dialog {
    min-width: 80%;
    margin: 0 auto;
    display: block;
  }

  body.modal-open .modal-dialog button {
    display: none;
  }
  .modal-backdrop {
    background-color: transparent;
  }

  .b-card-header {
    border: 2px solid darkgrey;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }

  .imageHack4print {
    background-repeat: repeat-x;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #999;
    margin-right: 10px;
  }

  //.printHack.col-lg-12 {
  //  -ms-flex: 0 0 50%!important;
  //  flex: 0 0 50%!important;
  //  max-width: 50%!important;
  //}

  //#printH1 {
  //  display: block!important;
  //  position: absolute!important;
  //  left: 500px!important;
  //  margin-left: 200px!important;
  //}
}

.printOnly {
  display: none;
}

//#printH1 {
//  display: none;
//}

.printResult a {
  color: #fff;
}

.out-of-panel {
  position: absolute;
  right: 50px;
  top: 100px;
}

.flip-card {
  background-color: transparent;
  //width: 300px;
  height: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 475px;
  //height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.rotate .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  transform: rotateY(0deg);
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}
#food-survey-creator .tabs ul.nav li.nav-item {
  a {
    color: #000;
  }
}

.circle {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}
.circle-true {
  background-color: #04B100;
}
.circle-partial {
  background-color: #FFA700;
}
.circle-false {
  background-color: #D30000;
}
.circle-null {
  background-color: #999999;
}

