{% block body %}
    Hallo {{ user.displayName }}.<br/>
    Bitte klicken Sie <a href="{{ link }}" target="_blank">hier</a> und melden sich mit dem temporären Passwort an,
    um das Passwort individuell zu ändern.

    {% include '/emails/signature.html.twig' %}
{% endblock %}