{% block body %}
    Vielen Dank für Ihre Teilnahme am Mini-Check. <br/><br/>

    Im Anhang finden Sie Ihre detaillierte Auswertung mit hilfreichen Tipps zur Optimierung Ihrer Schulverpflegung.<br/>
    <br/>
    Sie möchten als Einrichtung das Qualitätsmanagement-Tool von Unser Schulessen nutzen? Benötigen Sie mehr Informationen über unser Angebot und unsere Arbeit? Dann nehmen Sie gerne Kontakt zu uns auf!
    <br/><br/>
    <a href="https://unser-schulessen.de/mitmachen/interesse-bekunden">https://unser-schulessen.de/mitmachen/interesse-bekunden</a>
    {% include '/emails/signature.html.twig' %}
{% endblock %}
