{% block body %}
    Hallo {{ user.displayName }}.<br /><br />

    Bitte klicken Sie <a href="{{ link }}">hier</a>, um Ihr Passwort zurückzusetzen.

    {% include '/emails/signature.html.twig' %}
{% endblock %}