<br/><br/>
Mit freundlichem Gruß,<br/>
Ihr Team von <a href="https:\\unser-schulessen.de" target="_blank">unser-schulessen.de</a>
<br/>
<br/>
<hr/>
<strong>Web-Tool Unser Schulessen</strong><br/><br/>

Vernetzungsstelle Kita- und Schulverpflegung<br/>
in Trägerschaft der Projektagentur gGmbH<br/><br/>

Weitere Informationen: <a href="https:\\unser-schulessen.de" target="_blank">unser-schulessen.de</a><br/>
Kontakt: info@unser-schulessen.de